<form class="container1" action = '/home/update/<%= @post.id %>' method='POST'>
 <div class="bd2">
   <div class="form-group">
     <label for="exampleFormControlInput1">Travel Theme</label>
     <input type="string" name="theme" value="<%= @post.theme %>" class="form-control" id="traveltheme">
   </div>
   <div class="form-group">
     <label for="exampleFormControlSelect1">Guide Name</label>
     <input type="string" name="guide" value="<%=@post.guide %>" class="form-control" id="gidename">
   </div>
   <div class="form-group">
     <label for="exampleFormControlSelect2">Language</label>
     <select multiple class="form-control" value="<%=@post.language %>" name="language" id="language">
       <option>Korean</option>
       <option>English</option>
       <option>Chinese</option>
       <option>Spanish</option>
       <option>Japanese</option>
     </select>
   </div>
   <div class="form-group">
     <label for="exampleFormControlSelect2">Region</label>
     <select multiple class="form-control" placeholder="<%=@post.region%>" name="region" id="place">
       <option>Seoul</option>
       <option>Busan</option>
       <option>Jeonju</option>
       <option>Gyeongju</option>
       <option>Daegu</option>
     </select>
   </div>
   <div class="form-group">
     <label for="exampleFormControlTextarea1">Travel Content</label>
     <textarea class="form-control" name="content" placeholder="<%= @post.content%>" id="travelcontent" rows="3" placeholder="여행 내용 입력"></textarea>
   </div>
   <div class="b2">
   <button type="submit" class="btn btn-primary">Submit</button>
 </div>
</div>
</form>

